<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
<!--    <script th:src="@{/js/myjs.js}"></script>-->
</head>
<body>
<header>
    <nav class="header-nav">
        <a href="/">Home</a>
        <a th:href="allAlbum">All Album</a>
        <a th:href="hello">Hello</a>
        <a th:href="allSong">All song</a>

    </nav>

</header>
<br />
<h1 class="Logo">Welcome, <span class="R">S</span>ong<span class ="R">R</span></h1>
<p>Welcome To Songr Website, to render or add albums in this website please Go to the AllAlbum Page </p>
<br><br>


<br><br>
    <section class="empInfo">
        <h3> Album Information </h3>
        <br>
        <p> If you dont add the appropriate value the page will appear without a new entity</p>

        <form action="/addAlbum" method="post">
            <fieldset>

                <legend>Add new Album</legend>
                <br />
                <label>   Title   </label><input class="input" type="text" name="title"/><br>
                <label>  Artist   </label><input class="input" type="text" name="artist"/><br>
                <label>  Count    </label><input class="input" type="text" name="count"/><br>
                <label> Length    </label><input class="input" type="text" name="length"/><br>
                <label>Url Image</label><input class="input" type="text" name="imageUrl"/> <br><br>
                <button type="submit" class="submit">Submit</button>
                <br><br>
            </fieldset>

        </form>
    </section>
<br><br>
        <form class="empInfo" >
            <fieldset>
                <p> Please Note that if you are not in the All Album page the information about the album is not appear</p>


                <legend>Album info</legend>
                <ul th:each="album: ${albumlist}">

                    <script>scrt_var=1</script>
    <span>ID</span>
    <span th:text="${album.id}"></span> <br>

    <span>Title</span>
    <span th:text="${album.title}"></span> <br/>

    <span>Artist</span>
    <span th:text="${album.artist}"></span><br>

    <span>Count</span>
    <span th:text="${album.count}"></span><br>

    <span>Length</span>
    <span th:text="${album.length}"></span><br>

    <a th:href="@{/album/{id}/songs(id=${album.id})}">More</a>
    </br>
    <Label>Image Url</Label></br>

<!--    <a href="album/" onclick="location.href=this.href+ scrt_var+'/songs';return false;">-->
        <a th:href="allSong">
        <img th:src="${album.imageUrl}" alt="ImgeURL" width="400" height="300">
    </a>

    <br>
    <p>****************************************************************</p>
</ul>
            </fieldset>
    </form>
</ul>

<br><br><br>
<footer class="background">&copy; All rights reserved.<br></footer>
</body>
</html>