<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
<!--    <script th:src="@{/js/myjs.js}"></script>-->
</head>
<body>
<h1>Welcome, <span class="R">S</span>ong<span class ="R">R</span></h1>
<h2><b>This website is created to render the data of the Album and the title</b></h2>
<br><br>
<p>Lorem ipsum dolor sit amet, ad vel altera iudicabit, mea mundi consequat eu. Sonet nonumy intellegat in sed, falli movet decore per cu. Ne wisi aeterno placerat cum, in liber eripuit vel. Mei ea aeque facilis, eruditi civibus adversarium ad sit. Id nisl definitiones usu, ius et malorum vivendum. Cu sit paulo tritani fastidii. Disputando interpretaris et quo.

    Mea ne voluptua moderatius. Mutat sapientem ne nec, no eos tale concludaturque. Sea id sonet phaedrum petentium, ad per mediocrem petentium temporibus. Hendrerit reformidans mea ut, vis id inani recusabo. Inani debet vel at, esse laoreet consequuntur pri an, unum tempor iriure sed an. In mutat movet aliquid ius, maiestatis adipiscing usu ne.

    Usu cu quaestio democritum abhorreant, est no vitae apeirian, vel ut melius laboramus.
    <br><br>
<p>Lorem ipsum dolor sit amet, ad vel altera iudicabit, mea mundi consequat eu. Sonet nonumy intellegat in sed, falli movet decore per cu. Ne wisi aeterno placerat cum, in liber eripuit vel. Mei ea aeque facilis, eruditi civibus adversarium ad sit. Id nisl definitiones usu, ius et malorum vivendum. Cu sit paulo tritani fastidii. Disputando interpretaris et quo.

    Mea ne voluptua moderatius. Mutat sapientem ne nec, no eos tale concludaturque. Sea id sonet phaedrum petentium, ad per mediocrem petentium temporibus. Hendrerit reformidans mea ut, vis id inani recusabo. Inani debet vel at, esse laoreet consequuntur pri an, unum tempor iriure sed an. In mutat movet aliquid ius, maiestatis adipiscing usu ne.

    Usu cu quaestio democritum abhorreant, est no vitae apeirian, vel ut melius laboramus. Dicit principes mea id, his in ancillae incorrupte delicatissimi. Cu per error lucilius. Per quis consul cu, eu modo dolore utamur vis.

    Per at odio feugiat, ei est autem possim molestiae. In movet decore altera mel, mel ex graeci adversarium. Cu quod fugit vix, ea vis quem latine invidunt, alienum nominati usu eu. Vidisse veritus mnesarchum ius ex. Nam idque placerat cu, assum impetus scribentur eum ei, his an aliquam debitis. Est ut reque malis.

    In vim diceret alterum. Sit ipsum falli possim an, his quando convenire no. Duo semper suscipit deterruisset te. Est ne eirmod quaestio dignissim, graeco accumsan pertinacia no sit. Est ridens quaeque et, an vel fugit molestie oporteat. Ex choro insolens suscipiantur his, posse aliquam nec eu. Cu virtute inciderint dissentiet ius, ne consul ancillae pri.</p>
<br><br><br>
<footer class="background">&copy; All rights reserved.<br></footer>
</body>
</html>