<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <!--    <script th:src="@{/js/myjs.js}"></script>-->
</head>
<body>
<header>
    <nav class="header-nav">
        <a href="/">Home</a>
        <a th:href="allAlbum">All Album</a>
        <a th:href="hello">Hello</a>
        <a href="#">All song</a>

    </nav>

</header>
<br />
<h1 class="Logo">Welcome, <span class="R">S</span>ong<span class ="R">R</span></h1>
<!--<p>Welcome To Songr Website, to render or add albums in this website please Go to the AllAlbum Page </p>-->


<br><br>
<form class="empInfo" >
    <fieldset>

        <legend>Songs Infortmation</legend>
        <ul th:each="song: ${songList}">

            <span>ID</span>
            <span th:text="${song.id}"></span> <br>

            <span>Title: </span>
            <span th:text="${song.title}"></span> <br>

            <span>Length: </span>
            <span th:text="${song.length}"></span><br>

            <span>track Number: </span>
            <span th:text="${song.trackNumber}"></span><br>


            <br>
            <p>****************************************************************</p>
        </ul>
    </fieldset>
</form>

<br><br><br>
<footer class="background">&copy; All rights reserved.<br></footer>
</body>
</html>